@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 27% 97%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 187 40% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 27% 92%;
    --secondary-foreground: 222 47% 11%;
    --muted: 213 27% 92%;
    --muted-foreground: 215 25% 47%;
    --accent: 213 27% 92%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 87%;
    --input: 214 32% 87%;
    --ring: 187 40% 51%;
    --porygon-red: 355 69% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 8%;
    --foreground: 210 40% 96%;
    --card: 222 40% 11%;
    --card-foreground: 210 40% 96%;
    --popover: 222 40% 13%;
    --popover-foreground: 210 40% 96%;
    --primary: 187 45% 62%;
    --primary-foreground: 222 47% 8%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 96%;
    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 32% 17%;
    --accent-foreground: 210 40% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 32% 20%;
    --input: 217 32% 20%;
    --ring: 187 45% 62%;
    --porygon-red: 355 69% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
